body {
    background-color: white;
    margin: 0;
    padding: 0;
}

#root {
    width: 90%;
    margin: auto;
}

.check-menu {
    text-align: left;
    padding: 0;
}

.check-menu li {
    width: 100%;
    padding: 10px 5px;
    margin: 10px 0;
    border-radius: 15px;
    background-color: rgb(14, 165, 233);
    display: flex;
    justify-content: space-between;
}

.check-menu .li1 button {
    background: inherit;
    padding: 5px;
    width: 50px;
    height: 50px;
}

.check-menu .li1,
.check-menu .li2 {
    align-items: center;
    display: flex;
}

.check-menu button:hover {
    border: none;
}

button:focus,
button:focus-visible {
    outline: none !important;
}

.check-menu img {
    width: 20px;
    height: 20px;
    padding: 0 10px;
}

.join {
    background-color: inherit;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: none;
}

.item a {
    text-decoration: none;
    color: black;
    width: 100%;
}

.show-invite {
    list-style: none;
    padding: 0;
}

.show-invite li {
    display: flex;
    text-align: left;
}

.show-invite li p {
    width: 50%;
}

.close {
    margin-top: 10px;
}

.offline {
    position: absolute;
    background-color: blue;
    width: 90%;
    top: 10px;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    min-height: 40vh;
    text-align: center;
}
.claim-button{
    display: flex;
    justify-content: center;
}
.claim-button button{
    margin: 5px;
}
.loading img{
    width: 100%;
}
.alertFull{
    color: red;
}
.ton{
    padding: 20px 0;
}